body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #fefefe;
}

.name {

}

.position {

}

.contacts_info {

}

.contacts_title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.tel {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9dd5ca;
}

.mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9dd5ca;
}

.link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #9dd5ca;
}

.about_me {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
    width: 60%; 
    margin-left: 100px;
}

.skills_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;   
    margin-bottom: 10px;
}

.skills_list {

}

.skills_list_item {
    color: #FB6D3A;
}

.skills_list_text {
    color: #252525;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.work {

}

.work_title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;   
    margin-bottom: 10px;
}

.work_position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.work_list_text {
    color: #252525;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.work_list_item {
    color: #FB6D3A;
}

.wrapper {
    height: 100%;
}

.main_info {
border: 2px solid red;
height: 20%;
padding: 2px;
display: flex;
justify-content: space-around;
}

.main_info .foto {
border: 2px solid yellowgreen;
height: 20%;
padding: 2px;
}

.main_info .item {
border: 2px solid blue;
height: 20%;
padding: 2px;
}

img {
    width: 40%;
    height: 80%;
}




